<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pokemon</title>
    <%- include("imports.ejs") %>
</head>
<body>
    <header>
        <h1>The Pokemon Manager</h1>
        <a href="/pokemon"><h1>Home</h1></a>
    </header>
    <form action="/pokemon" method="post">
        <h2>Create a New Pokemon</h2>
        <label for="url">Picture of Pokemon</label>
        <input type="url" name="img" id="url" placeholder="https://example.com">
        ID :<input type="text" name="id" placeholder="ID of Pokemon"/>
        Name: <input type="text" name="name" placeholder="Name of Pokemon"/>
        Type/Types: <input type="text" name="type" placeholder="Example: Grass Poison"/>
        HP: <input type="number" name="hp" placeholder="HP of Pokemon"/>
        Attack: <input type="number" name="attack" placeholder="Attack of Pokemon">
        Defense: <input type="number" name="defense" placeholder="Defense of Pokemon">
        SPAttack: <input type="number" name="spattack" placeholder="SPAttack of Pokemon">
        SPDefense: <input type="number" name="spdefense" placeholder="SPDefense of Pokemon">
        Speed: <input type="number" name="speed" placeholder="Speed of Pokemon">
        <input type="submit" value="Create Pokemon"/>
    </form>
    
</body>
</html>